body {
    text-align: center;
    background: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

.header{
  text-align: center;
  background-color:  rgb(25, 31, 36);
  border-style: solid;
  height: 10vh;
  position: sticky;
  z-index:  5;
}

.dimmer{
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.owl{
  background-image: url("images/nightowlbackground.png");
  background-size: contain;
  position: absolute;
  left: 0vw;
}

.mug{
  background-color: blue;
  position: absolute;
  right: 0vw;
}

.artist{
  font-family: Consolas, monaco, monospace;
  font-size: 1.5vw;
  color: white;
  width: 48vw;
  height: 89vh;
  display: inline-block;
}

.X{
  position: absolute;
  width: 30vw;
  text-align: center;
  left: 35vw;
  top: 35%;
  z-index: 4;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}